<template>
    <div>
    <div v-if="auth" class="comments">
        
        <div class="search">
            <input id="form_search" class="form-control" aria-describedby="emailHelp" placeholder="Найти" v-model="search">
            <button id="form_search" type="button" class="btn btn-light" @click="get_search_comments">Найти</button>
    </div>
                
                
        <h1>Отзывы о контенте блогееров</h1>
        <div class="order_panel">
            <b-button @click="" variant="info">Отсортировать по оценке</b-button>
    </div>
        <div v-for="comment in comments" class="card">
            <div class="card-header">
                Отзыв №{{ comment.id }}
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ comment.blogger_account }}</h5>
            <p>Оценка: {{ comment.score }}</p>
            <p class="autor">{{ comment.user }}</p>
            </div>
        </div>
  <b-button class="comment_button" @click="$bvModal.show('bv-modal')">Опубликовать отзыв</b-button>

  <b-modal ref="bv-modal" id="bv-modal" hide-footer>
        <template slot="modal-title">Новый отзыв</template>

    <div class="modal-body">
        Аккаунт блоггера <input class="form-control" placeholder="example: boris_astafev" v-model="blogger_account"/>
            Оценка: <select class="form-control" id="exampleFormControlSelect1" v-model="score">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
      </div>
            <b-button type="button" class="btn btn-secondary" variant="outline-danger" @click="hideModal">Отмена</b-button>
        <b-button type="button" class="btn btn-primary" @click="addComment">Опубликовать</b-button>
  </b-modal>
</div>
        
        
    </div>
</template>

<script>
    import $ from 'jquery'
    
export default {
    name: 'comments',
    data() {
            return {
                comments: '',
                blogger_account: '',
                score: '',
                search: '',
                order_by: 'score',
            }
        },
    created() {
            $.ajaxSetup({
                headers: {'Authorization': "Token " + sessionStorage.getItem('auth_token')},
            });
            this.loadComments()
        },
    computed: {
      auth(){
          if(sessionStorage.getItem("auth_token")){
              return true
          }
          else {
              this.$router.push({name: 'login'})
          }
      },
      check_search() {
          if(this.search != ''){
                    this.get_search_comments()
                }
                else {
                    this.loadComments()
                }
      }
    },
    methods: {
        hideModal() {
            this.$refs['bv-modal'].hide()
        },
        loadComments() {
                $.ajax({
                    url: "http://127.0.0.1:8000/api/v0/comments/?order_by=" + this.order_by,
                    type: "GET",
                    success: (response) => {
                        console.log(response)   
                        this.comments = response.comments
                    }
                })
            },
        addComment() {
            console.log(this.blogger_account)
            $.ajax({
                url: "http://127.0.0.1:8000/api/v0/comments/",
                type: "POST",
                data: {
                    blogger_account: this.blogger_account,
                    score: this.score,
                },
                success: (response) => {
                    alert("Отзыв опубликован");
                    },
                error: (response) => {
                    alert("Произошла ошибка")
                }
            })
            this.hideModal()
            this.blogger_account = '';
            this.score = ''
        },
        get_search_comments() {
            $.ajax({
                    url: "http://127.0.0.1:8000/api/v0/search/",
                    type: "POST",
                    data: {
                        search: this.search,
                        order_by: this.order_by,
                    },
                    success: (response) => {
                        this.comments = response.comments
                    }
                })
        },
        change_order_by() {
            if (this.order_by == 'score'){
                this.order_by = '-score'
            }
            else {
                this.order_by = 'score'
            }
            if (this.search != ''){
                this.get_search_comments()
            }
            else {
                this.loadComments()
            }
        }
        
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .autor {
        text-align: right;
        font-style: italic;
        color: gray;
        font-size: 1vw;
    }
    .form-control {
        margin-bottom: 3%;
        width: 70%;
    }
    .search {
        width: 20em;
        max-width: 20em;
        margin-top: 1.5%;
        margin-left: auto;
        margin-right: 2em;
    }
    #form_search {
        display: inline-block;
        margin-top: 5%;
        vertical-align: sub;
    }
    .order_panel {
        padding: 2%;
    }
    .comment_button {
        margin: 2%;
    }
    
</style>
