<template>
    <div class="container_home">
    <div class="header">
        <h1>Тестовое задание backend Разработчик</h1>
    </div>
        <h2 id="go_to_login" @click="authing">Перейти к отзывам</h2>
    <div class="content">
        <div class="content_part">
        <h2>Стек технологий:</h2>
            <ul>
                <li>Django - Backend</li>
                <li>Django REST Framework - API</li>
                <li>djoser - Авторизация</li>
                <li>SQLite - База Lанных</li>
                <li>Vue.js - Frontend</li>
                <li>Bootstrap</li>
            </ul> 
        </div>
            <img src="../assets/bg_home.jpg">
    </div>
        <div class="my_urls">
            <a id='git' href="https://gitlab.com/BOG1233/test_task_mitroshina" target="_blank">Код (GitLab)</a>
            <a  id ='telegram' href="https://web.telegram.org/#/im?p=@petr_shirin" target="_blank">Telegram (@petr_shirin)</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'home',
    methods: {
        authing() {
            this.$router.push({name: 'login'})
        },
        show_url() {
            this.active = !this.active;
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container_home {
    }
    h1 {
        text-align: center;
        font-size: 4vw;
        display: inherit;
    }
    .header {
        padding-bottom: 1.5%;
        
    }
    .content {
        padding-top: 1.5%;
        padding-left: 15%;
        font-size: 2.5vw;
        background-color: beige;
        padding-bottom: 2%;
    }
    .my_urls {
        margin-top: 10%;
        text-align: center; 
        font-size: 2vw;
    }
    .content_part {
        display: inline-block;
    }
    img {
        width: 25%;
        margin-left: 18%;
        height: auto;
        display: inline-block;
        vertical-align: sub;
    }
    
    a {
        color: darkblue;
        text-decoration: none;
        margin-left: 2%;
    }
    #go_to_login {
        text-align: center;
        font-size: 3vw;
        
    }
    #go_to_login:hover {
        color: darkslateblue;
    }
    
</style>
