<template>
<div class="login">
    <div class="container_login">
  <div class="form-group">
    <h3>Login</h3>
    <input class="form-control" aria-describedby="emailHelp" placeholder="Login" v-model="login">
  </div>
  <div class="form-group">
    <h3>Password</h3>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="password">
  </div>
        <button type="button" class="btn btn-outline-secondary" @click="setlogin">Войти</button>
    </div>
</div>
</template>

<script>
    import $ from 'jquery'
    
export default {
        name: 'login',
        data() {
            return {
                login: '',
                password: ''
            }
        },
        methods: {
            setlogin() {
                $.ajax({
                    url: "http://127.0.0.1:8000/auth/token/login/",
                    type: "POST", 
                    data: {
                        username: this.login,
                        password: this.password
                    },
                    success: (response) => {
                        console.log(response.auth_token)
                        sessionStorage.setItem("auth_token", response.auth_token)
                        this.$router.push({name: 'comments'})
                    },
                    error: (response) => {console.log(response)}
                    })
            }
            }
        
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container_login {
                width:300px;
                height:200px;
                position:absolute;
                left:50%;
                top:50%;
                margin:-100px 0 0 -150px;
}
    
</style>
