
<template>

    </div>
</template>
<script>
    name: 'search',
    data() {
            return {
                search: '',
            }
        },
    methods: {
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    
</style>
