<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
        name: 'App',
        created() {
            if (localStorage.getItem("auth_token"))  {
                $.ajaxSetup({
                    headers: {'Authorization': "Token " + localStorage.getItem('auth_token')},
                });
            }
        }
    }
</script>
    
<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    background-color: aliceblue;
}
</style>
